
body{
  background: url(https://i.imgur.com/zpeeBCo.jpg);
  background-size: cover;
}

#sayings,.section{
  color: whitesmoke;
  font-size: x-large;
}
.stuffKanyeSays{
  background-color: black;
  color: whitesmoke;
  
}
.stuffKanyeSays:hover{
  background-color: gray;
}